import os

TELEGRAM_TOKEN = 'XXXXXXXXX:XXXXXXXXXXXXXXXXXXXXXXX'
TELEGRAM_FORBIDDEN_STICKER_ID = 'CAACAgIAAxkBAAIBNV6u0qGwomMfu5vMVNprXPmlnoXVAAJHdAACns4LAAE_ObRAtER3bRkE'
TELEGRAM_GOD_ID = 894082

IMAGES_UPLOAD_DIR = os.path.join(os.path.dirname(__file__), 'media')

SCREENSHOT_HOST = 'https://domain.com/screenshots/'

WORKFLOWY_SESSION_ID = ""
WORKFLOWY_NODE_UUID = ""
WORKFLOWY_INBOX_URI = f"https://workflowy.com/#/{WORKFLOWY_NODE_UUID}"
